.btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid #111;
    text-decoration: none;
    color: #111;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px
}