* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 980px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.left {
    flex: 1;
    margin-left: 35px;
    margin-bottom: 190px;
}

.logo {
    color: #1877f2;
    font-size: 65px;
    margin-bottom: 5px;
}

.text {
    font-size: 26px;
    margin-top: 0;
}

.right {
    width: 396px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

input {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border-color: #d4d4d4;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
}

button {
    width: 100%;
    height: 48px;
    background: #1877f2;
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    display: block;
    text-align: center;
    margin: 12px 0;
    color: #1877f2;
    text-decoration: none;
}

.create {
    background: #42b72a;
    color: white;
    padding: 12px;
    margin-left: 57px;
    margin-right: 57px;
    margin-top: 30px;
    margin-bottom: 28px;
    border-radius: 6px;
    font-weight: bold;
}

.bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer {
    margin-top: 35px;
    background-color: #ffffff;
    border-top: 1px solid #dddfe2;
}

.footer-inner {
    width: 980px;
    margin: 0 auto;
    padding: 18px 10px 22px;
    color: #737373;
    font-size: 12px;
}

.footer-langs, .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1px 12px;
    align-items: center;
}

.footer-links {
   gap: 1px 12px;
}

.footer a {
    color: #737373;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-line {
    height: 1px;
    background-color: #dddfe2;
    margin: 10px 0;
}

.footer-langs .more {
    display: inline-block;
    width: 28px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    color: #4b4f56;
    font-weight: bold;
}

.footer-copy {
    margin-top: 15px;
}