* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.page {
    min-height: 100vh;
    display: flex;
}

.left {
    width: 71%;
    position: relative;
    padding: 60px 70px;
    border-right: 3px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 70px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 60px;
    width: 70px;
    height: auto;
}

.text {
    position: absolute;
    top: 80px;
    left: 140px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 1.25;
    color: #111;
}

.accent1 {
    color: #ff4f00
}

.accent2 {
    color: #ff00a8;
}

.stories {
    width: 450px;
    position: absolute;
    height: auto;
    top: 290px;
    left: 230px;
}

.right {
    width: 55%;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Enter_txt {
    position: absolute;
    top: 75px;
    font-size: 18px;
    color: #111;
}

form {
    position: absolute;
    top: 150px;
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input {
    width: 100%;
    height: 65px;
    border-radius: 18px;
    padding-left: 20px;
    border: 1.8px solid #cfd8e3;
    font-size: 16px;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    background-color: #a7c7f7;
    color: white;
    cursor: pointer;
}

.a1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    color:#111;
    text-align: center;
    width: 100%;
    height: 50px;
}

.a1:hover {
    border: 1.8px solid #cfd8e3;
    background-color: #e1e1e1;
}

.idea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.log_fb {
    text-decoration: none;
    color: #111;
    margin-top: 55px;
    width: 520px;
    max-width: 100%;
    height: 42px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.1px solid #a4a5a6;
}

.create {
    text-decoration: none;
    margin-top: 8px;
    width: 520px;
    max-width: 100%;
    height: 42px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(89, 89, 201);
    border: 1.1px solid rgb(89, 89, 201);
}

.meta {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}

.footer {
    border-top: 1px solid #ddd;
}

.footer-inner {
    width: 980px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 12px;
    color: #737373;
}

footer a {
    text-decoration: none;
    color: #737373;
    margin-right: 12px;
}

.footer-bottom {
    text-align: center;
}

.lol1 {
    text-decoration: none;
    text-align: center;
    color: #737373;
    font-size: 12px;
    text-align: center;
}

.lol2 {
    text-decoration: none;
    text-align: center;
    color: #737373;
    font-size: 12px;
    text-align: center;
}